.nav-list li a
{
    font-size: 18px;
    line-height: 1.6;
    padding-top: 22px;!important;
    padding-bottom: 20px;!important;
}
.film-color,
.film-hover:hover,
.navbar-nav > li > a.film-hover:hover
{
    color: #d0492d;!important;
}
.animation-color,
.animation-hover:hover,
.navbar-nav > li > a.animation-hover:hover
{
    color:#d07f2d;!important;
}
.comic-color,
.comic-hover:hover,
.navbar-nav > li > a.comic-hover:hover
{
    color: #1f6c82;!important;
}
.game-color,
.game-hover:hover,
.navbar-nav > li > a.game-hover:hover
{
    color: #20974d;!important;
}
#navbarSearch input
{
    background: #eee;
    transition: background .3s;
}
#navbarSearch input:focus,
#navbarSearch input:hover
{
    background: #ffffff;
}
footer
{
    height: 40px;
    padding: 10px 40px;
    color: #888;
    text-align: right;
    margin-top: 30px;
}
.banner
{
    padding: 100px 0 60px;
}
.search-group
{
    position: relative;
    height: 40px;
}
.search-box
{
    position: absolute;
    height: 40px;
    font-size: 16px;
}
.search-button
{
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    background: transparent;
    border: none;
    color: #777;
    transition: .2s background ,.2s color;
}
.search-button:hover,
.search-button:focus
{
    color: white;
    background: #d0492d;
    outline: none;
}
.main-panel
{
    position: relative;
}
.waterfall
{
    position: relative;
}
.plot-box {
    width: 25%;
    padding: 6px;
    position: absolute;
    transition: top .3s,left .3s;
}
.plot-content
{
    padding: 10px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: box-shadow .3s,border .3s;
}
.plot-content:hover
{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.plot-content:hover img
{
    opacity: 0.8;
}
.plot-content h4
{
    margin-bottom: 5px;
    padding-left: 5px;
    font-weight: bold;
}
.plot-content p
{
    margin-bottom: 0px;
    padding-left: 5px;
    font-size: 16px;
    color: #999;
}
#plotWrapper {
    padding-top: 20px;
}
.control-panel
{
    vertical-align: baseline;
    position: relative;
    padding: 0px 7px 20px;
}
.control-button
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    min-width: 100px;
    background: white;
    text-align: center;
    color: #6e6e6e;
    font-size: 16px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
}
.control-button:hover
{
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
}
.control-button .glyphicon
{
    top: 3px;
    margin-right: 8px;
}
.control-button ul.first-level
{
    position: absolute;
    top: 44px;
    left: 0;
    min-width: 100%;
    display: none;
    padding: 10px 20px 10px 30px;
    background: white;
    color: #666;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
    z-index: 10;
}
.control-button ul.first-level h4
{
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    max-width: 60px;
}
.control-button ul.first-level>li
{
    list-style-type: none;
    text-align: left;
    padding: 10px 0;
}
.control-button ul.first-level li.divide-line
{
    padding: 0;
    height: 1px;
    background: #eee;
}
.control-button:hover .first-level
{
    display: block;
}
.control-button ul.first-level ul.second-level
{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    max-width: 600px;
}
.control-button ul.first-level ul.second-level>li
{
    list-style-type: none;
    float: left;
    padding: 5px 10px;
    margin: 0 5px;
}
.control-button ul.first-level ul.second-level>li:hover
{
    background: #eeeeee;
    cursor: pointer;
}
.control-button ul.vertical-list
{
    padding: 0;
    text-align: center;
}
.control-button ul.vertical-list li
{
    text-align: center;
}
.control-button ul.vertical-list li:hover
{
    background: #eee;
    cursor: pointer;
}
.shift-filter
{
    position: absolute;
    top:90px;
    margin-left: -70px;
    transition: top .3s;
}
.shift-filter p
{
    font-size: 50px;
    font-weight: bold;
    width: 50px;
    word-wrap: break-word;
    color: #888;
    line-height: 1.22;
}
.shift-filter p:hover
{
    color: #555;
    cursor: pointer;
}
.shift-filter p.on,
.shift-filter p.on:hover
{
    color: #222;
}

.shift-filter p.divide-line
{
    background: #333;
    height: 1px;
}
.page-controller
{
    position: fixed;
    display: none;
    bottom: 10px;
    left: 50%;
    margin-left: 590px;
    width: 30px;
    opacity: 0;
    transition: opacity .2s;
}
.page-controller .page-button
{
    width: 40px;
    height: 40px;
    font-size: 12px;
    background: #888;
    color: white;
    text-align: center;
    padding: 13px 15px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.page-controller .page-button:hover
{
    cursor: pointer;
    background: #444;
}
.login-form
{
    display: inline-block;
    width: 350px;
}
.login-form label
{
    position: absolute;
    padding: 0px 12px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: #aaa;
    font-weight: normal;
    z-index: 999;
}
.login-form p
{
    margin-bottom: -2px;
}
.login-input
{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 6px 12px 6px 90px;
    font-size: 22px;
    line-height: 50px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.login-input:focus
{
    border-color: #d0492d;
    outline: 0;
    z-index: 99;
}
.login-submit
{
    width: 100%;
    margin: 20px 0;
    height: 43px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    background: #d0492d;
    color: white;
    border: 1px solid #d0492d;
    transition: background .2s;
}
.login-submit:hover,.login-submit:visited,.login-submit:active
{
    background: #ad492d;
}
.login-tips
{
    position: absolute;
    color: white;
    height: 41px;
    background: #cc2b31;
    font-weight: normal;
    padding: 7px;
    font-size: 16px;
    line-height: 1.42857143;
    transition: opacity .2s;
}
.login-change,
.login-change:focus,
.login-change:visited
{
    cursor: pointer;
    color: #666;
    font-size: 22px;
    transition: border-bottom .3s,color .3s;
    border-bottom: 3px solid transparent;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
}
.login-change:hover
{
    color: #333;
    text-decoration: none;
}
.login-change.on
{
    color: #d0492d;
    border-bottom: 3px solid #d0492d;
    text-decoration: none;
}
.submit-button
{
    background: #d0492d;
    height: 36px;
    width: 100%;
    line-height: 36px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: 20px;
    border:none;
    outline: none;
}
.submit-button:hover
{
    background: #cc2b31;
}
.label-content
{
    display: inline-block;
    margin-bottom: 20px;
}
.title-input
{
    outline: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 32px;
    border: none;
    border-top: 2px solid #d0492d;
    display: block;
    margin-top: 10px;
    width: 320px;
    transition: border .3s,background .3s;
}
.title-input:focus
{
    border-top: 4px solid #cc2b31;
    background: #eee;
}
.title-label
{
    width: 160px;
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    color: grey;
    margin-bottom: 0px;
}
.fr-area p{
    font-size: 16px;
}
.title-add
{
    display: inline-block;
    font-size: 30px;
    padding: 0 8px 4px;
    line-height: 30px;
    border: 1px solid #d0492d;
    background: #d0492d;
    color: white;
    border-radius: 20px;
    transition: all .2s;
}
.title-add:hover
{
    color: #d0492d;
    background: white;
}
.title-add:focus
{
    outline: none;
}
.title-info
{
    display: inline-block;
    margin-right: 10px;
}
